body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ADD8E6;
}
#calculator{
	font-family: Arial, sans-serif;
	background-color: #0000FF;
	border-radius: 5px;
	max-width: 500px;
	overflow: hidden;
}
#display{
	width: 100%;
	padding: 20px;
	font-size: 5rem;
	text-align: left;
	background-color: #87CEFA;
	color: blue;
}
#keys{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 25px;
}
button{
	width: 100px;
	height: 100px;
	border-radius: 5px;
	background-color: #FFA500;
	border: 2px solid #ffffff;	
	color: #ffffff;	
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}
button:hover{
	background-color: #FF8C00;
}
button:active{
	background-color: #DC143C;
}
.operator-btn{
background-color: #1E90FF;
}
.operator-btn:hover{
background-color: #1E90FF;
}
.operator-btn:active{
background-color: #1E90FF;
}